{% load static tailwind_tags %}
{% block content %}


<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<style>
    body {
        margin: 100px;
        font-family: 'Arial', sans-serif;
        background-color: rgb(220, 238, 220);
        color: #333;
    }

    @media (max-width:1020px) {
        body{
background-color: white;
        }
    }

    .eye {
        background-image: url("https://cdn-icons-png.flaticon.com/128/709/709612.png");
        height: 20px;
        width: 20px;
    }
    .google-icon-wrap {
            display: flex;
            align-items: center;
        }
        .google-icon-wrap .fa-google {
            font-size: 24px; /* Adjust the size as needed */
            margin-right: 8px; /* Adjust the spacing as needed */
        }

        
</style>

<div class=" w-full flex items-center justify-center bg-white lg:bg-opacity-0 m-1 p-10 " style="margin-top: 5%;">


    <div
        class=" h-full  lg:h-[80%] w-full  lg:w-[70%] bg-opacity-0  lg:bg-white  flex flex-col lg:flex-row justify-center  rounded-xl z-0">
        <div
            class="w-full lg:w-[50%] h-auto lg:h-full flex flex-col p-10 justify-between border-r-[2px] border-[#f1f5f9]">
            <div class="flex flex-col items-center lg:items-start">
                <h1 class="text-6xl lg:text-3xl font-bold text-center lg:text-start" style="color: #3E818C;">Login to your account</h1>
                <h1 class="text-4xl lg:text-sm text-center lg:text-start text-[#94a3b8] mt-3 w-[70%]" style="color: black;">Please login to
                    access your files and get access to resources</h1>
            </div>
            <img src="{% static 'taskapp/images/login.gif' %}"
                class="w-full h-auto lg:w-[400px] lg:h-[400px] self-start" />
        </div>

        <div class=" self-center w-[90%] lg:w-[50%] h-auto  lg:h-full  flex flex-col p-10  "
            style="background-color: #3E818C;">
            <form action="{% url 'login' %}" method="post" class="w-full flex flex-col">
                {% csrf_token %}

                {{ form.non_field_errors }}
                <div class="flex flex-col mt-4">
                    <label class="font-bold text-4xl lg:text-lg" style="color: white;"
                        for="{{ form.username.id_for_label }}">Username</label>
                    <input name="username" placeholder="Enter your username"
                        class=" mt-2 bg-white w-full border-2 border-black  rounded-lg h-[100px] text-3xl  lg:h-[50px] lg:text-sm "
                        style="color: #6b7280;" />
                    <!-- {{ form.username }}-->
                </div>
                <div class="flex flex-col  mt-14 lg:mt-4">
                    <label class="font-bold text-[#1e293b] text-4xl lg:text-lg" style="color: white;"
                        for="{{ form.username.id_for_label }}">Password</label>

                    <div
                        class="relative password-input mt-5  lg:mt-4 flex flex-row items-center bg-[#f8fafc] w-full border-2 border-[#f1f5f9] text-[#e2e8f0] rounded-lg  h-[100px] text-3xl  lg:h-[50px] lg:text-sm justify-between ">
                        <!-- {{ form.password }}-->
                        <input name="password" id="password-input" type="password" placeholder="Enter your password"
                            class=" w-full rounded-lg h-[100px] text-3xl  lg:h-[50px] lg:text-sm "
                            style="color: black; background-color: white;" />
                        <span class="toggle-password absolute  h-full flex flex-col justify-center  "
                            style="right: 5;z-index: 4;"
                            onclick="togglePasswordVisibility('{{ form.password.id_for_label }}')">
                            <img class="eye" id="eye" src="https://cdn-icons-png.flaticon.com/128/2767/2767146.png"
                                aria-hidden="true"></img>
                        </span>
                    </div>
                </div>

                <button class="bg-[#1e293b] text-white h-[100px] lg:h-[50px] rounded-lg text-4xl lg:text-lg"
                    style="margin-top: 80px;" type="submit">Login</button>
                <a href="{% url 'password_reset' %}"
                    class=" self-center mt-5 text-white     font-bold text-5xl lg:text-lg lg:text-sm">Forgot
                    your password?</a>
                <div class="flex flex-row w-full items-center justify-around mt-8  lg:mt-3">
                    <div class=" h-[5px] lg:h-[1px] bg-[#e2e8f0] w-[40%]"></div>
                    <h1 class="text-white  text-4xl lg:text-sm">Or</h1>
                    <div class="h-[5px] lg:h-[1px] bg-[#e2e8f0] w-[40%]"></div>
                </div>


                <div class="google-icon-wrap">
                    {% include 'googlesign.html' %}
                </div>
                <p class="signup text-center text-white mt-3  font-bold  text-4xl lg:text-sm ">Don't Have an Account ?
                    <a class="text-white font-bold" href="{% url 'signup' %}">Signup Here</a></p>
            </form>
        </div>

    </div>
</div>

<script>

    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password-input');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            var ele = document.getElementById('eye')
            ele.src = "https://cdn-icons-png.flaticon.com/128/709/709612.png"
        } else {
            passwordInput.type = 'password';
            var ele = document.getElementById('eye')
            ele.src = "https://cdn-icons-png.flaticon.com/128/2767/2767146.png"
        }
    }

</script>

{% endblock %}
{% block footer %}

{% endblock %}