{% load static tailwind_tags %}
{% block content %}


<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<style>
    body {
        margin: 0;
        font-family: 'Arial', sans-serif;
        background-color: #f0f2f5;
        /* Light background color */
        color: #333;
        /* Dark text color */
        overflow: hidden;
    }
</style>

<div class="h-full w-full flex items-center justify-center bg-white lg:bg-opacity-0 m-1  lg:mt-2">

    <img src="{% static 'taskapp/images/images.png' %}" height="900" width="900"
        class="self-start  flex lg:hidden absolute self-end z-3 opacity-[0.4]" />
    <div
        class=" h-full  lg:h-[80%] w-full  lg:w-[70%] bg-opacity-0  lg:bg-white  flex flex-col lg:flex-row justify-center  rounded-xl z-0">
        <div
            class=" w-full lg:w-[50%]  h-auto  lg:h-full flex flex-col p-10 justify-between border-r-[2px] border-[#f1f5f9] ">
            <div class="flex flex-col items-center  lg:items-start">
                <h1 class=" text-6xl lg:text-3xl  font-bold  text-center  lg:text-start ">Login to your account</h1>
                <h1 class="text-4xl   lg:text-sm lg:text-sm  text-center  lg:text-start text-[#94a3b8] mt-3 w-[70%]">
                    Please login to access your files and get access to resources</h1>
            </div>

            <img src="{% static 'taskapp/images/images.png' %}" height="200" width="200"
                class="self-start  hidden lg:block" />
        </div>
        <div class=" self-center w-[90%] lg:w-[50%] h-auto  lg:h-full  flex flex-col p-10  ">
            <form action="{% url 'login' %}" method="post" class="w-full flex flex-col">
                {% csrf_token %}

                {{ form.non_field_errors }}
                <div class="flex flex-col mt-4">
                    <label class="font-bold text-[#1e293b] text-4xl lg:text-lg"
                        for="{{ form.username.id_for_label }}">Username</label>
                    <input name="username" placeholder="Enter your username"
                        class=" mt-2 bg-[#f8fafc] w-full border-2 border-[#f1f5f9]  rounded-lg h-[100px] text-3xl  lg:h-[50px] lg:text-sm "
                        style="color: #6b7280;" />
                    <!-- {{ form.username }}-->
                </div>
                <div class="flex flex-col mt-4">
                    <label class="font-bold text-[#1e293b] text-4xl lg:text-lg"
                        for="{{ form.username.id_for_label }}">Password</label>

                    <div
                        class="password-input mt-12  lg:mt-4 flex flex-row items-center bg-[#f8fafc] w-full border-2 border-[#f1f5f9] text-[#e2e8f0] rounded-lg  h-[100px] text-3xl  lg:h-[50px] lg:text-sm justify-between p-2 pl-0">
                        <!-- {{ form.password }}-->
                        <input name="password" id="password-input" type="password" placeholder="Enter your password"
                            class="border-0 bg-transparent text-sm outline-none password-input"
                            style="outline: none;color: #6b7280;" />
                        <span class="toggle-password"
                            onclick="togglePasswordVisibility('{{ form.password.id_for_label }}')">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>

                <button class="bg-[#1e293b] text-white h-[100px] lg:h-[50px] rounded-lg mt-5 text-4xl lg:text-lg"
                    type="submit">Login</button>
                <a href="{% url 'password_reset' %}" class=" self-center mt-5 text-[#94a3b8] text-4xl lg:text-sm">Forgot
                    your password?</a>
                <div class="flex flex-row w-full items-center justify-around mt-8  lg:mt-3">
                    <div class=" h-[5px] lg:h-[1px] bg-[#e2e8f0] w-[40%]"></div>
                    <h1 class="text-[#e2e8f0]  text-4xl lg:text-sm">Or</h1>
                    <div class="h-[5px] lg:h-[1px] bg-[#e2e8f0] w-[40%]"></div>
                </div>


                <!-- {% include 'googlesign.html' %} -->

                <p class="signup text-center text-[#94a3b8] mt-3  text-4xl lg:text-sm ">Don't Have an Account ? <a
                        class="text-[#1e293b] font-bold" href="{% url 'signup' %}">Signup Here</a></p>
            </form>
        </div>

    </div>
</div>

<script>

    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password-input');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    }

</script>

{% endblock %}
{% block footer %}

{% endblock %}