{% extends 'header.html' %}
{% load static tailwind_tags %}
{% block content %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Event Calendar</title>
{% tailwind_css %}
<!-- Include jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: white;
        margin-top: 100px;
        background: linear-gradient(149deg, rgba(255, 255, 255, 1) 0%, rgba(234, 255, 253, 1) 45%, rgba(255, 255, 255, 1) 100%);
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    #EventCalendar {
        max-width: 95%;
        margin: auto;
        max-width: 1200px;
        /* Limit maximum width */
        height: 600px;
        /* Adjust height as needed */
        background-color: #f9f9f9;
        /* Lighter background for a cleaner look */
        border-radius: 12px;
        /* Slightly larger border radius for smoother corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Soft shadow for a lifted effect */
        overflow: auto;
        /* Enable scrolling if needed */
    }

    h2 {
        background-color: #3e818d;
        color: #fff;
        padding: 20px;
        margin: 0;
        border-radius: 12px 12px 0 0;
        /* Match the container's border radius */
        text-align: center;
        /* Center align the text */
        font-family: 'Roboto', sans-serif;
        /* Modern font */
        font-size: 24px;
        /* Larger font size */
    }

    .calendar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .calendar-slider {
        display: flex;
        overflow-x: auto;
        width: 111% !important;
        padding: 8px;
        /* Add padding for better spacing */
        background-color: #f3e6f3;
        border-radius: 10px;
    }

    .date-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80px;
        /* Slightly smaller width */
        height: 80px;
        /* Increase height for better proportion */
        padding: 20px;
        /* Decrease padding for better spacing */
        margin: 5px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #fff;
        /* White background for a clean look */
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        /* Modern font */
        font-size: 14px;
        /* Smaller font size */
        transition: background-color 0.3s, color 0.3s;
        /* Smooth transition for hover effects */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Subtle shadow for depth */
    }

    .date-item:hover {
        background-color: #f0f0f0;
        /* Light grey hover effect */
    }

    .date-item.current {
        background-color: #3e818d;
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Slightly stronger shadow for the current date */
    }

    .date-item.selected {
        background-color: #5c6bc0;
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Slightly stronger shadow for the selected date */
    }

    button img {
        width: 30px;
        /* Ensure button images are of consistent size */
        height: 30px;
    }

    button {
        background: none;
        /* Remove default button background */
        border: none;
        /* Remove default button border */
        cursor: pointer;
        /* Add pointer cursor */
        padding: 5px;
        /* Add padding for better clickability */
        transition: transform 0.2s;
        /* Smooth transition for hover effect */
    }

    button:hover {
        transform: scale(1.1);
        /* Slightly enlarge button on hover */
    }

    #month-year {
        font-family: 'Roboto', sans-serif;
        /* Modern font */
        font-size: 20px;
        /* Slightly larger font size */
        color: #333;
        /* Darker text color for better readability */
    }

    .button-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: end;

    }

    .button-container button {

        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .button-container button:hover {
        background-color: #3949ab;
    }

    .event {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
        position: relative;
        /* Add position relative */
    }

    .event h3 {
        margin-top: 0;
        color: #5c6bc0;
    }

    .event p {
        margin: 5px 0;
    }

    #eventList {
        max-width: 90%;
        margin: auto;
    }

    .fc-attendance-container {

        top: 10px;
        right: 10px;
        display: flex;
        gap: 5px;
    }

    .fc-attendance-mark {
        cursor: pointer;
        font-size: 24px;
        line-height: 1;
        z-index: 1;
        opacity: 1;
        /* Default fully opaque */
    }

    .marked {
        opacity: 0.5;
        /* Semi-transparent when marked */
    }

    h1,
    h3 {
        color: black;
    }

    .event.cancelled {
        opacity: 0.5;
    }

    .fc-cancelled-mark {
        cursor: pointer;
        font-size: 24px;
        line-height: 1;
        z-index: 1;
        opacity: 1;
    }

    .event-grid-item {
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 100px;
        /* Additional styling for grid items */
    }

    @media (max-width: 1024px) {

        /* Adjust styles for smaller screens */
        .calendar-container {
            margin: 40px;
            height: auto;
            /* Adjust height for smaller screens */
        }

        .button-container {
            flex-direction: row;
        }

        .calendar-slider {
            width: 700px !important;
        }
    }

    @media (max-width: 768px) {
        .calendar-slider {
            width: 500px !important;
        }

        /* Ensure this media query comes after the 968px one to take precedence */
    }

    @media (max-width: 568px) {
        .calendar-slider {
            width: 400px !important;
        }

        /* Ensure this media query comes after the 968px one to take precedence */
    }

    @media (max-width: 408px) {
        .calendar-slider {
            width: 300px !important;
        }

        /* Ensure this media query comes after the 968px one to take precedence */
    }

    .calendar-slider {
        width: 600px;
    }

    .date-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 60px;
        padding: 20px;
        /* Adjusted padding */
        margin: 5px;
        border-radius: 10px;
        /* Adjusted border radius */
        cursor: pointer;
        background-color: white;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        /* Modern font */
        font-size: 12px;
        /* Smaller font size */
        transition: background-color 0.3s, color 0.3s;
        /* Smooth transition for hover effects */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Subtle shadow for depth */
    }

    .date-item.current {
        background-color: #3e818d;
        color: white;
    }

    .date-item.selected {
        background-color: #5c6bc0;
        color: white;
    }

    #eventList {
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* Adjust the gap between grid items */
    }

    .fixed-add-icon {
        position: fixed;
        top: 200;
        right: 20px;
        width: 70px;
        height: 70px;
        background-color: #3E818D;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        z-index: 1000;
    }

    .fixed-tach-icon {
        position: fixed;
        top: 280px;
        right: 20px;
        width: 70px;
        height: 70px;
        background-color: #3E818D;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        z-index: 1000;
    }

    .fixed-add-icon:hover {
        background-color: #0056b3;
    }


/* For WebKit browsers (Chrome, Safari) */
.calendar-slider::-webkit-scrollbar {
    height: 8px;
}

.calendar-slider::-webkit-scrollbar-track {
    background: #f3e6f3;
    border-radius: 10px;
}

.calendar-slider::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.calendar-slider::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
.calendar-slider {
    scrollbar-width: thin;
    scrollbar-color: #e9d5d5 #f3e6f3;
}

.calendar-slider::-webkit-scrollbar-corner {
    background: transparent;
}

#eventlistheader{
    font-size: 22px;
    background-color: #3E818C;
    color: white;
    margin-bottom: 30px !important;
}
</style>

<body>

    <div class="flex w-full flex-col items-center">
        <div class="calendar-container w-[100%] lg:w-[70%]" style="margin-top:200px;">
            <div class="flex flex-row items-center justify-center w-full">
                <button id="prev-button"><img src="{% static 'taskapp/images/back.png' %}"
                        class="h-[30px] w-[30px]" /></button>
                <span class="font-bold mr-3 ml-3 text-sm lg:text-3xl" id="month-year"></span>
                <button id="next-button"><img src="{% static 'taskapp/images/forward.png' %}"
                        class="h-[30px] w-[30px]" /></button>
            </div>
            <div class="calendar-slider mt-5" id="calendar-dates"></div>
            <div id="selected-date"></div>
        </div>
    </div>



    <div class="button-container w-[98%] flex flex-row justify-end">
        <button class="bg-black" onclick="filterEvents('all')">All</button>
        {% for child in children %}
        <button onclick="filterEvents('{{ child.id }}')">{{ child.name }}</button>
        {% endfor %}
    </div>



    <div class="flex flex-col items-center w-full justify-center">
        <h1 id="eventlistheader"
            class="bg-white p-3 text-start font-bold w-[100%] lg:w-[70%] rounded-tl-lg rounded-tr-lg mb-2"></h1>
        <div class="flex w-full  overflow-y-scroll" style="scroll-bar:none">
            <div id="eventList" class="  w-[100%] lg:w-[70%]   " style="margin-bottom:100px">
                <!-- Event list will be populated here -->
            </div>
        </div>

    </div>


    <div class="fixed-add-icon" onclick="window.location.href='/calendar/'">
        <i class="fas fa-plus"></i>
    </div>
    <div class="fixed-tach-icon" onclick="window.location.href='/dashboard/'">
        <img src="{% static 'taskapp/images/report.png' %}" height="30" width="30" />
    </div>

    <script>
        const calendarDates = document.getElementById('calendar-dates');
        const monthYearDisplay = document.getElementById('month-year');
        const prevButton = document.getElementById('prev-button');
        const nextButton = document.getElementById('next-button');
        const selectedDateDisplay = document.getElementById('selected-date');
        const eventList = document.getElementById('eventList');

        const today = new Date();
        let currentMonthStart = new Date(today.getFullYear(), today.getMonth(), 1);
        let selectedChildId = 'all'; // Default to show all events
        let selectedDate = today; // Initialize selectedDate with today's date

        function formatDate(date) {
            const day = String(date.getDate()).padStart(2, '0');
            const dayName = date.toLocaleString('default', { weekday: 'short' });
            return { day, dayName };
        }

        function generateDates(start, daysToShow) {
            calendarDates.innerHTML = ''; // Clear existing dates
            let date = new Date(start);
            for (let i = 0; i < daysToShow; i++) {
                const { day, dayName } = formatDate(date);
                const dateItem = document.createElement('div');
                dateItem.className = 'date-item';
                if (date.toDateString() === today.toDateString()) {
                    dateItem.classList.add('current');
                }
                if (date.toDateString() === selectedDate.toDateString()) {
                    dateItem.classList.add('selected');
                }
                dateItem.innerHTML = `<div>${day}</div><div>${dayName}</div>`;
                dateItem.dataset.date = date.toISOString();
                dateItem.addEventListener('click', () => selectDate(dateItem));
                calendarDates.appendChild(dateItem);
                date.setDate(date.getDate() + 1);
            }
            updateMonthYear();
        }

        function updateMonthYear() {
            const firstVisibleDate = new Date(calendarDates.firstChild.dataset.date);
            monthYearDisplay.textContent = `${firstVisibleDate.toLocaleString('default', { month: 'long' })} ${firstVisibleDate.getFullYear()}`;
        }

        function scrollDates(direction) {
            const daysToShow = 31; // Show 31 days at a time
            currentMonthStart.setMonth(currentMonthStart.getMonth() + direction);
            generateDates(currentMonthStart, daysToShow);
        }

        function selectDate(dateItem) {
            document.querySelectorAll('.date-item').forEach(item => item.classList.remove('selected'));
            dateItem.classList.add('selected');
            selectedDate = new Date(dateItem.dataset.date);
            fetchEventsForDate(selectedDate);
        }

        function fetchEventsForDate(date) {
            var localDate = new Date(date.getTime() - date.getTimezoneOffset() * 60000);

            $.ajax({
                url: '/get_events_for_date/',
                method: 'GET',
                data: {
                    'date': localDate.toISOString().split('T')[0],
                    'child_id': selectedChildId
                },
                success: function (response) {
                    displayEvents(response.events, localDate);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching events for date:', error);
                }
            });
        }

        function displayEvents(events, date) {
            eventList.innerHTML = '';
            const eventsHeading = document.getElementById("eventlistheader");
            eventsHeading.textContent = `Events for ${date.toLocaleString('default', { month: 'long' })} ${date.getDate()}, ${date.getFullYear()}`;


            if (events.length > 0) {
                events.forEach(function (event) {
                    const dateString = date.toISOString().split('T')[0];
                    const paymentEntry = event.payment_entries.find(entry => entry.payment_date === dateString);
                    const isPaymentMonth = event.payment_type !== 'each_event' && event.payment_entries.some(entry => {
                        const entryDate = new Date(entry.payment_date);
                        return entryDate.getFullYear() === date.getFullYear() && entryDate.getMonth() === date.getMonth();
                    });

                    let paymentInfo = '';
                    if (event.fee_date !== 'each_event' && isPaymentMonth) {
                        const monthlyPaymentEntry = event.payment_entries.find(entry => {
                            const entryDate = new Date(entry.payment_date);
                            return entryDate.getFullYear() === date.getFullYear() && entryDate.getMonth() === date.getMonth();
                        });
                        paymentInfo = `<p>Paid: Rs ${monthlyPaymentEntry.paid_amount}</p>`;
                    } else if (paymentEntry) {
                        paymentInfo = `<p>Paid: Rs ${paymentEntry.paid_amount}</p>`;
                    } else {
                        paymentInfo = `<button style="background-color:#f87171;color:white;font-size:11px" class="bg-[#f87171] p-1 font-bold rounded-md text-[#f87171] hover:scale-110" onclick="window.location.href='/event/${event.id}/fee_payment/'">Pay Fee ${event.fee_amount}</button>`;
                    }

                    const attendanceStatus = event.attendance_status.toLowerCase();
                    const attendanceClass = attendanceStatus === 'attended' ? 'marked-attended' : attendanceStatus === 'absent' ? 'marked-absent' : '';
                    const isCancelled = event.event_cancelled_dates.includes(dateString);
                    const cancelledClass = isCancelled ? 'cancelled' : '';

                    const eventHtml = `
            <div class="event event-grid-item child-${event.child} ${cancelledClass} flex flex-row p-4 shadow-lg rounded-lg" style="background-color: #effcfd; border:1px solid #3E818D;border-left: 7px solid ${event.color}" data-event-id="${event.id}" data-child-id="${event.child}">
    <div class="flex flex-col items-start w-[70%]">
        <p class="text-[15px] font-[600]" style="color: ${event.color}">${event.start} - ${event.end}</p>
        <h3 class="text-black font-bold">${event.title} For ${event.childname}</h3>
        ${paymentInfo}
    </div>
    <div class="fc-attendance-container w-[30%] flex flex-row justify-end items-start space-x-2">
        <span class="fc-attendance-mark fc-attended ${attendanceClass.includes('marked-attended') ? 'marked' : ''}">
            <i class="fas fa-check-circle text-green-500"></i>
        </span>
        <span class="fc-attendance-mark fc-absent ${attendanceClass.includes('marked-absent') ? 'marked' : ''}">
            <i class="fas fa-times-circle text-red-500"></i>
        </span>
        <span class="fc-cancelled-mark ${isCancelled ? 'marked' : ''}">
            <i class="fas fa-minus-circle text-gray-500"></i>
        </span>
    </div>
</div>
`
                    eventList.innerHTML += eventHtml;
                });
            } else {
                eventList.innerHTML += '<p>No events for the selected date.</p>';
            }
            addAttendanceListeners();
            addCancellationListeners();
        }

        function addCancellationListeners() {
            const cancellationMarks = document.querySelectorAll('.fc-cancelled-mark');
            cancellationMarks.forEach(mark => {
                mark.addEventListener('click', function (event) {
                    submitCancellation(event);
                });
            });
        }

        function submitCancellation(event) {
            event.stopPropagation();

            const eventId = event.target.closest('.event').dataset.eventId;
            const childId = event.target.closest('.event').dataset.childId;
            const localDate = new Date(selectedDate.getTime() - selectedDate.getTimezoneOffset() * 60000);
            const markElement = event.target;
            const isMarked = markElement.classList.contains('marked');

            $.ajax({
                url: '/submit_cancellation/',
                method: 'POST',
                data: {
                    'event_id': eventId,
                    'child_id': childId,
                    'date': localDate.toISOString().split('T')[0],
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'revoke': isMarked ? 'true' : 'false' // Indicate whether to revoke the cancellation
                },
                success: function (response) {
                    if (response.status === 'success') {
                        alert(response.message);
                        markElement.classList.toggle('marked');
                        markElement.closest('.event').classList.toggle('cancelled');
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error submitting cancellation:', error);
                }
            });
        }

        function addAttendanceListeners() {
            const attendanceMarks = document.querySelectorAll('.fc-attendance-mark');

            attendanceMarks.forEach(mark => {
                mark.addEventListener('click', function (event) {
                    submitAttendance(event);
                });
            });
        }

        function submitAttendance(event) {
    event.stopPropagation(); // Stop event propagation to prevent unintended behavior

    const markElement = event.target.closest('.fc-attendance-mark');
    const eventId = markElement.closest('.event').dataset.eventId;
    const childId = markElement.closest('.event').dataset.childId;

    // Debugging: Log the markElement and its classes
    console.log('Clicked element:', markElement);
    console.log('Classes on clicked element:', markElement.classList);

    const selectedOption = markElement.classList.contains('fc-attended') ? 'attended' : 'absent';
    const localDate = new Date(selectedDate.getTime() - selectedDate.getTimezoneOffset() * 60000);
    const isMarked = markElement.classList.contains('marked');

    // Debugging: Log the selectedOption and isMarked
    console.log('selectedOption:', selectedOption);
    console.log('isMarked:', isMarked);

    $.ajax({
        url: '/submit_attendance/',
        method: 'POST',
        data: {
            'event_id': eventId,
            'child_id': childId,
            'selected_option': isMarked ? '' : selectedOption, // Send empty string to revoke attendance
            'date': localDate.toISOString().split('T')[0],
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response) {
            if (response.status === 'success') {
                alert(response.message);
                markElement.classList.toggle('marked');
                if (selectedOption === 'attended') {
                    markElement.nextElementSibling.classList.remove('marked');
                } else if (selectedOption === 'absent') {
                    markElement.previousElementSibling.classList.remove('marked');
                }
            } else {
                alert('Error: ' + response.message);
            }
        },
        error: function (xhr, status, error) {
            console.error('Error submitting attendance:', error);
        }
    });
}
        window.filterEvents = function (childId) {
            selectedChildId = childId;
            document.querySelector('.date-item.selected') && fetchEventsForDate(new Date(document.querySelector('.date-item.selected').dataset.date));
        }

        filterEvents('all');

        prevButton.addEventListener('click', () => scrollDates(-1));
        nextButton.addEventListener('click', () => scrollDates(1));

        generateDates(currentMonthStart, 30);
        fetchEventsForDate(today);

        var currentdatee = document.getElementsByClassName("current");
        const calenderscrollDiv = document.getElementById('calendar-dates');
        const xOffset = currentdatee[0].offsetLeft - currentdatee[0].scrollLeft - 300;
        calenderscrollDiv.scrollLeft = xOffset;
    </script>

</body>

</html>
{% endblock %}

{% block footer %}
{% include 'fu.html' %}
{% endblock %}
