body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.contact-form h1 {
    margin-bottom: 10px;
}

.contact-form p {
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0066cc;
    color: white;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #005bb5;
}

.contact-info {
    margin-top: 20px;
}

.social-media img {
    width: 20px;
    margin: 0 10px;
}
