
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>

    <p>Hello {{ user.username }},</p>
    <p>We received a request to reset your password. If you didn't make this request, you can ignore this email.</p>
    <p>To reset your password, click on the link below:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    <p>If the link doesn't work, copy and paste the following URL into your browser:</p>
    <p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
    <p>Thank you!</p>
    <p>-- Your Tinytaskers Team</p>
</body>

